[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=kbd caps:hyper
Comment=Maps keyboard caps lock to hyper
Exec=setxkbmap -option caps:hyper
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

