[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Map capslock to ctrl
Comment=
Exec=/usr/bin/setxkbmap -option '' -option 'ctrl:nocaps'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

