[Desktop Entry]
Version=1.0
Icon=redshift
Name=Redshift
Name[hu]=Redshift
Name[lt]=Redshift
Name[pl]=Redshift
Name[tr]=Redshift
Name[es]=Redshift
Name[de]=Redshift
Name[fr]=Redshift
Name[it]=Redshift
Name[pt_BR]=Redshift
Name[ru]=Redshift
Name[zh_CN]=红移
Comment=Color temperature adjustment tool
Comment[zh_CN]=色温调节工具
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Comment[da]=Justeringsværktøj for farvetemperatur
Comment[de]=Farbtemperatur Anpassungswerkzeug
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[fr]=Outil de réglage de la température de couleur
Comment[hu]=Színhőmérséklet beállító eszköz
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Terminal=false
GenericName=Color temperature adjustment
GenericName[de]=Farbtemperatur Anpassung
GenericName[es]=Ajuste de la temperatura de color
GenericName[hu]=Szín hőmérséklet beállítás
GenericName[it]=Regolazione della temperatura del colore
GenericName[nl]=Kleurtemperatuur aanpassing
GenericName[ru]=Настройка цветовой температуры
GenericName[zh_CN]=色温调节
X-GNOME-Autostart-enabled=false
Hidden=false
Type=Application
Exec=redshift-gtk
StartupNotify=true
Categories=Utility;

