[Desktop Entry]
GenericName[fr]=Réglage de la température de couleur
GenericName[pl]=Dostosowanie temperatury barwowej
Comment=Color temperature adjustment tool
Comment[hu]=Színhőmérséklet beállító eszköz
Name[pl]=Redshift
Name[pt_BR]=Redshift
GenericName=Color temperature adjustment
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
X-GNOME-Autostart-enabled=true
GenericName[ru]=Настройка цветовой температуры
GenericName[tr]=Renk sıcaklığı ayarı
Comment[fr]=Outil de réglage de la température de couleur
Icon=redshift
Name[es]=Redshift
Terminal=false
Name[zh_CN]=红移
Name=Redshift
Comment[es]=Herramienta para el ajuste de la temperatura de color
Name[hu]=Redshift
Comment[da]=Justeringsværktøj for farvetemperatur
Name[lt]=Redshift
GenericName[cs]=Přizpůsobení barevné teploty
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName[nl]=Kleurtemperatuur aanpassing
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
GenericName[de]=Farbtemperatur Anpassung
Version=1.0
Exec=redshift-gtk
Comment[ru]=Инструмент регулирования цветовой температуры
Hidden=false
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[es]=Ajuste de la temperatura de color
StartupNotify=true
Name[it]=Redshift
GenericName[it]=Regolazione della temperatura del colore
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Comment[zh_CN]=色温调节工具
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Name[tr]=Redshift
Name[fr]=Redshift
Name[ru]=Redshift
Categories=Utility;
GenericName[hu]=Szín hőmérséklet beállítás
GenericName[da]=Justering af farvetemperatur
GenericName[zh_CN]=色温调节
Comment[it]=Strumento per la regolazione della temperatura del colore
Name[de]=Redshift
Comment[de]=Farbtemperatur Anpassungswerkzeug
Type=Application

