# atom
atom/.apm/
atom/.node-gyp/
atom/compile-cache/
atom/npm-debug.log
atom/packages/
atom/projects.cson
atom/storage/
atom/.npm
atom/atom-shell
atom/blob-store
atom/electron

# fish
fish_history
fish_read_history
fishd.*
