*
!.gitignore
!codestyles
!codestyles/*
!colors
!colors/*
!inspection
!inspection/*
!keymaps
!keymaps/*
!options
!options/*
!quicklists
!quicklists/*
!templates
!templates/*
!tools
!tools/*
!disabled_plugins.txt
!disabled_update.txt
