*
!.gitignore
!codestyles
!codestyles/*
!colors
!colors/*
!inspection
!inspection/*
!keymaps
!keymaps/*
!options
!options/*
options/options.xml
options/feature.usage.statistics.xml
options/recentProjects.xml
options/statistics.application.usages.xml
options/diff.xml
options/dimensions.xml
options/find.recents.xml
options/find.xml
options/stubIndex.xml
options/usageView.xml
!quicklists
!quicklists/*
!templates
!templates/*
!tools
!tools/*
!disabled_plugins.txt
!disabled_update.txt
