"*":
  "exception-reporting":
    userId: "1e51085d-feb1-9a65-ca48-c8546c3a4fd5"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "linter-jscs"
      "vim-mode"
      "spell-check"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "Mono"
    showIndentGuide: true
    tabType: "soft"
    preferredLineLength: 120
    softWrap: true
  "atom-beautify":
    _analyticsUserId: "6a93f94a-ff57-4873-bfda-f04ffa59ed18"
    analytics: false
  "autocomplete-plus": {}
  "vim-mode":
    useSmartcaseForSearch: true
    startInInsertMode: true
  "atom-lint": {}
  "fuzzy-finder": {}
  "markdown-preview": {}
  "spell-check": {}
  tabs: {}
  linter:
    showErrorPanel: false
  "project-manager": {}
  "linter-rubocop":
    command: "/home/bartekmanj/.rvm/gems/ruby-2.2.4@global/wrappers/rubocop"
  "linter-reek":
    executablePath: "/home/bartekmanj/.rvm/gems/ruby-2.2.4@global/wrappers/reek"
  pigments: {}
  "linter-scss-lint":
    executablePath: "/home/bartekmanj/.rvm/rubies/ruby-2.2.4/lib/ruby/gems/2.2.0/wrappers/scss-lint"
  "linter-xmllint": {}
  "linter-docker":
    executablePath: "/usr/bin/dockerlint"
  "linter-bootlint":
    executablePath: "/usr/bin/bootlint"
  "linter-jshint":
    executablePath: "/usr/bin/jshint"
    lintInlineJavaScript: true
  "linter-jscs": {}
  "linter-flow":
    executablePath: "/usr/bin/flow"
    enableAll: true
  "linter-shellcheck": {}
