conf.d/
fishd.*
functions/__*
functions/_pure*
functions/copy-fish_prompt.fish
functions/fish_greeting.fish
functions/fish_mode_prompt.fish
functions/fish_title.fish
functions/fisher.fish
functions/installer.fish
functions/z.awk
functions/zadd.awk
functions/zclean.awk
functions/_fzf*
functions/fzf*
functions/fish_prompt.fish
completions/fzf*
