conf.d/done.fish
conf.d/fzf.fish
conf.d/z.fish
fish_history
fish_read_history
fishd.*
functions/__*
functions/_pure*
functions/bass.fish
functions/copy-fish_prompt.fish
functions/fish_greeting.fish
functions/fish_mode_prompt.fish
functions/fish_right_prompt.fish
functions/fish_title.fish
functions/fish_user_key_bindings.fish
functions/fisher.fish
functions/getopts.fish
functions/humanize_duration.fish
functions/installer.fish
functions/z.awk
functions/zadd.awk
functions/zclean.awk
